
@if(ViewBag.movies !=null)
    {
        <div class="row">
            @for (int i = 0; i < ViewBag.movies.Count; i++)
            {
                <div class="movie-card">
                    <div>
                        <a class="nav-link text-dark"asp-area="" asp-controller="movies" asp-action="moviePage" asp-route-id="@ViewBag.movies[i].ID"></a>
                    </div>
                    
                    <h1>@ViewBag.movies[i].name</h1>
                      <img src="@ViewBag.ImageDataUrl[i]" />
                </div>
            }
        </div>
    }


