
@if(ViewBag.movies !=null)
    {
        <div class="row">
            @for (int i = 0; i < ViewBag.movies.Count; i++)
            {
                <div class="movie-card">
                    <h1>@ViewBag.movies[i].name</h1>
                      <img src="@ViewBag.ImageDataUrl[i]" />
                </div>
            }
        </div>
    }


