@model BikoretSeret.Models.Comments
<h1>great ! you choose to comment on this movie </h1>
<form action="/comments/toComment" method="post">
    <div class="container">
        <div class="container">
            <textarea id="commentText" rows="4" cols="50" asp-for="comment">write your Review</textarea>
            <input hidden value="@ViewBag.id" asp-for="movieId" />
            <input type="submit" value="Submit">
        </div>
    </div>
</form>