body {
    /* Margin bottom by footer height */
    /*margin-bottom: 60px;
    background-image: url("~/images/wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover
}*/
    background-image: url("/images/19.jpg");
    background-attachment:fixed;
}
.movie-card {
    width: 170px;
    float:left;
    padding:5px;
    height:5px
/*    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    text-align: center;*/
    /*overflow: n;*/
/*}*/

/*.img_1 {
    width: 20px;
    height: 20px;
}
.text_image{
    text-align:right;
    width:1px;
    height:1px;*/
}
