@model BikoretSeret.Models.TbUser




<div class="login">
    <div class="heading">
        <h2 style="color:black">Sign in</h2>
        <form action="/registation/LogIn" method="post">

            <div class="input-group input-group-lg">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="text" class="form-control" placeholder="Username " asp-for="UserName" required>
            </div>

            <div class="input-group input-group-lg">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input type="password" class="form-control" placeholder="Password" asp-for="Password"required>
            </div>

            <button style="margin:auto" type="submit" class="float">Login</button>
        </form>
    </div>
</div>
@if(TempData.ContainsKey("message"))
{
    <h1>>@TempData["message"]</h1>
}